<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>Chào bạn, <span th:text="${exchangeRequest.getRequested().getCustomer().getFirstName()}"></span></p>
<p>Ai đó đã chấp nhận yêu cầu trao đổi cuộc hẹn của bạn. </p>
<p>Ngày hẹn cũ: <span th:text="${#temporals.format(exchangeRequest.getRequested().getStart(), 'dd-MM-yyyy HH:mm')}"></span></p>
<p>Ngày hẹn mới: <span th:text="${#temporals.format(exchangeRequest.getRequestor().getStart(), 'dd-MM-yyyy HH:mm')}"></span></p>

<p>Click <a th:href="${url}">vào đây</a> để xem thông tin cuộc hẹn.</p>

</body>
</html>