<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout (~{::body},'appointments','Danh sách đặt lịch hẹn')}">
<body>

<!-- Page Content -->
<div class="row align-items-center justify-content-center" style="margin-top: 50px">
    <!-- chuyển đến trang tạo lịch hẹn mới -->
    <div th:fragment="customerAppointments">
        <table id="appointments" class="table text-center shadow">
                        <thead class="thead-primary" style="background-color: #e3f2fd;">
                        <tr>
                            <th> Nội dung</th>
                            <th> Trạng thái</th>
                            <th> Bắt đầu</th>
                            <th sec:authorize="!hasRole('ROLE_PROVIDER')"> Người tạo lịch</th>
                            <th sec:authorize="!hasRole('ROLE_CUSTOMER')"> Người tạo lịch</th>
                            <th> Thời lượng</th>
                            <th> Hoạt động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${appointments == null}">
                            <td colspan="2"> Không có lịch hẹn nào </td>
                        </tr>
                        <tr th:each="appointment : ${appointments}"
                            th:classappend="${appointment.status.name() == 'CANCELED' || appointment.status.name()  == 'FINISHED' || appointment.status.name()  == 'INVOICED' || appointment.status.name()  == 'REJECTION_REQUESTED' || appointment.status.name()  == 'REJECTED'} ? table-secondary : table">
                            <td><span th:text="${appointment.work.name}"> Nội dung </span></td>
                            <td><span th:text="${appointment.status}"> scheduled </span></td>
                            <td><span th:text="${#temporals.format(appointment.start, 'yyyy-MM-dd HH:mm')}"> 21-01-2019 15:00</span>
                            </td>
                            <td sec:authorize="!hasRole('ROLE_PROVIDER')"><span
                                    th:text="${appointment.provider.lastName + ' ' + appointment.provider.firstName}">
                                Người tạo lịch </span>
                            </td>
                            <td sec:authorize="!hasRole('ROLE_CUSTOMER')"><span
                                    th:text="${appointment.customer.lastName + ' ' + appointment.customer.firstName}">
                                Người đặt lịch </span>
                            </td>
                            <td><span th:text="${appointment.work.duration + ' phút'}"> 60 phút </span></td>
                            <td><a class="btn btn-secondary" th:href="@{'/appointments/' + ${appointment.id}}"
                                   role="button">Chi tiết</a></td>
                        </tr>
                        </tbody>
                        <tfoot class="text-primary">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>

                            <th></th>
                            <th></th>
                            <th  sec:authorize="hasRole('ROLE_ADMIN')"></th>
                        </tr>
                        </tfoot>
                    </table>


        <div sec:authorize="hasRole('ROLE_CUSTOMER')" class="text-center">
            <a class="btn btn-primary mt-2" th:href="@{/appointments/new}" role="button">Tạo lịch hẹn mới</a>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('#appointments').DataTable({
                "dom": '<"toolbar">lrtip',
                "bFilter": true,
                "bLengthChange": false,
                "order": [
                    [2, "asc"]
                ],
                "initComplete": function () {
                    this.api().columns([1]).every(function () {
                        $("div.toolbar").html('<div id="my_filter" style="margin-bottom: 10px">Lọc trạng thái: </div>');
                        var column = this;
                        column.search('^SCHEDULED$', true, false).draw();
                        var select = $('<select name="statuses"><option value="SCHEDULED">SCHEDULED</option></select>')
                            .appendTo('#my_filter')
                            .on('change', function () {
                                var searchString = $(this).val();
                                searchString = searchString.replace('<span>', '');
                                searchString = searchString.replace('</span>', '');
                                var val = $.fn.dataTable.util.escapeRegex(searchString);
                                column.search(val ? '^' + val + '$' : '', true, false).draw();
                            });
                        statuses.forEach(function (d) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        });

        var statuses = [
            'FINISHED',
            'CONFIRMED',
            'INVOICED',
            'CANCELED',
            'DENIED',
            'REJECTION_REQUESTED',
            'REJECTED',
            'EXCHANGE_REQUESTED'];
    </script>
</div>


</body>


</html>