<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','Chọn dịch vụ/nội dung')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row align-items-center justify-content-center d-block" style="margin-top: 50px">
    <div class="row align-items-center justify-content-center" style="margin-top: 50px">
        <div>
            <table id="customers" class="table table-striped text-center">
                <thead class="thead-primary" style="background-color: #e3f2fd;">
                <tr>
                    <th> Nội dung</th>
                    <th> Thời lượng</th>
                    <th> Chi phí</th>
                    <th> Hoạt động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${works == null}">
                    <td colspan="4"> Không có nội dung hẹn.</td>
                </tr>
                <tr th:each="work : ${works}">
                    <td><span th:text="${work.name}"> work name </span></td>
                    <td><span th:text="${work.duration} + ' phút'"> 30 phút </span></td>
                    <td><span th:text="${work.price} + ' VND'"> 3 </span></td>
                    <td><a class="btn btn-primary"
                           th:href="@{'/appointments/new/'+${providerId} +'/'+ ${work.id}}"
                           role="button">Chọn</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
</body>

</html>