<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','Tạo lịch mới: Vui lòng chọn Bác sĩ')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row align-items-center justify-content-center" style="margin-top: 50px">


    <div class="col-md-3 m-3" th:each="provider : ${providers}">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title"><span th:text="${provider.lastName +' ' +provider.firstName}"> Họ và tên</span></h5>

                <p sec:authorize="hasRole('ROLE_CUSTOMER_RETAIL')" th:each="work : ${provider.getRetailWorks()}" th:text="${work.getName()}">
<!--                   th:text="${'Dịch vụ khám: '+'\n'+ provider.getRetailWorks()}">Nội dung hẹn có sẵn: 3-->
<!--                Tư nhân:-->



                </p>
                <p sec:authorize="hasRole('ROLE_CUSTOMER_CORPORATE')" th:each="work : ${provider.getCorporateWorks()}" th:text="${work.getName()}">
<!--                   th:text="${'Dịch vụ khám: '+'\n'+ provider.getCorporateWorks()}">Nội dung hẹn có sẵn: 3-->
<!--                Doanh nghiệp:-->


<!--                    <div th:each="work : ${provider.getCorporateWorks()}" th:text="${work.getName()}"></div>-->
                </p>
                <a th:href="@{'/appointments/new/'+${provider.id}}" class="btn btn-primary">Select</a>

            </div>
        </div>
    </div>

</div>
</body>

</html>